---
import CardContainer from "./CardContainer.astro";
import CheckVerify from "./icons/CheckVerify.astro";
import WorldIcon from "./icons/World.astro";

import CardPost from "./CardPost.astro";

import TailwindIcon from "./icons/Tailwind.astro";
import ReactIcon from "./icons/React.astro";
import FirebaseIcon from "./icons/Firebase.astro";
import NextjsIcon from "./icons/Nextjs.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import AngularIcon from "./icons/Angular.astro";
import SqlServerIcon from "./icons/SqlServer.astro";
import PHPIcon from "./icons/Php.astro";
import CIcon from "./icons/C.astro";
import NodeIcon from "./icons/Node.astro";

const TAGS = {
  TAILWIND: {
    name: "Tailwind",
    class: "text-[#73bcf6] bg-[#003159]",
    icon: TailwindIcon,
  },
  REACT: {
    name: "React",
    class: "text-white bg-[#0b57d0]",
    icon: ReactIcon,
  },
  FIREBASE: {
    name: "Firebase",
    class: "text-white bg-[#1e88e5]",
    icon: FirebaseIcon,
  },
  NEXTJS: {
    name: "NextJS",
    class: "text-white bg-blue-500",
    icon: NextjsIcon,
  },
  ASTROJS: {
    name: "Astro",
    class: "bg-white text-black",
    icon: AstroIcon,
  },
  ANGULARJS: {
    name: "AngularJS",
    class: "text-white bg-[#dd1b16] ",
    icon: AngularIcon,
  },
  SQLSERVERICON: {
    name: "SQLServer",
    icon: SqlServerIcon,
  },
  PHPIcon: {
    name: "PHP",
    icon: PHPIcon,
  },
  CIcon: {
    name: ".NET Framework",
    icon: CIcon,
  },
  NodeIcon: {
    name: "NodeJS",
    icon: NodeIcon,
  },
};

const EXPERIENCIAS = [
  {
    titulo: ".NET & Angular Stack Developer",
    empresa: "Kipu",
    linkempresa: "https://app.mikipu.com/",
    location: "Remote",
    fechaInicio: "ago. 2022",
    fechaFin: " ene. 2024",
    descripcion: [
      "Desarrollé mejoras y correcciones en el sistema de Punto de Venta para Restaurantes, Bares, Discotecas y Supermercados",
      "Reprogramé envío de documentos electrónicos para su aceptación en la API de Sunat",
      "Maneje un sistema de tickets para resolver problemas de cliente de manera ágil y eficiente",
    ],
    etiquetas: [TAGS.ANGULARJS, TAGS.CIcon, TAGS.SQLSERVERICON],
  },
  {
    titulo: "MERN Stack Developer",
    empresa: "Posperu",
    linkempresa: "https://posperu.com/",
    location: "Presential",
    fechaInicio: "abr. 2022",
    endDate: "jul. 2022",
    descripcion: [
      "Dirigí el desarrollo del proyecto Software de Administración de Proyectos con interfaz web",
      "Integré la interfaz de la web utilizando la plantilla Vuexy",
      "Gestioné la estructura de permisos y roles para los usuarios registrados",
      "Administré la base de datos para su uso en la aplicación",
    ],
    etiquetas: [TAGS.REACT, TAGS.NodeIcon, TAGS.SQLSERVERICON],
  },
  {
    titulo: "Practicante PHP Developer",
    empresa: "Posperu",
    linkempresa: "https://posperu.com/",
    location: "Presential",
    fechaInicio: "mar. 2022",
    endDate: "abr. 2022",
    descripcion: [
      "Participé en el área de desarrollo y soporte en el proyecto Desarrollo de Sistema Web de Gestión de Negocio Posperu",
      "Interactué directamente con los clientes para resolver errores y/o mejorar alcances",
      "Refactoricé y automaticé el código para mejorar la calidad y escalabilidad del sistema",
    ],
    etiquetas: [TAGS.PHPIcon, TAGS.SQLSERVERICON],
  },
];
---

{
  EXPERIENCIAS.map(
    ({ fechaInicio, fechaFin, titulo, descripcion, etiquetas }) => {
      return (
        <CardPost fechaInicio={fechaInicio} fechaFin={fechaFin}>
          <h4 class="text-xl font-semibold my-1 mb-3">{titulo}</h4>
          <p class="">
            {descripcion.map((descripcionItem) => {
              return (
                <p class="border-gray-300 text-regular mb-2">
                  ✅ {descripcionItem}.
                </p>
              );
            })}
          </p>
          <div class="flex gap-x-3 mt-5">
            {etiquetas.map((etiqueta) => {
              return (
                <div
                  class={`flex justify-center items-center gap-x-3
                      rounded-xl px-2 py-1 bg-primary/20
                      `}
                >
                  <etiqueta.icon class="size-3.5 " />
                  <span class="text-sm">{etiqueta.name}</span>
                </div>
              );
            })}
          </div>
        </CardPost>
      );
    }
  )
}
